<!DOCTYPE html>
<html>
  <head>
    <title>Tarot API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API</h1>
    <p>
      GET /cards — return a list of all cards
    </p>
    <p>
      GET /cards/:id — return info for a single card
    </p>
    <p>
      POST /cards — add a new card 
    </p>
  </body>
</html>
